{% extends "base.html" %}
{% block content %}


<section>
    <h1>Educational Resources</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, perferendis.</p>
</section>
<section>

    <div>
        <img style="width: 50%;" src="/static/images/tiger.png" alt="Animal Fact Sheet">
        <div>
            <h2>Animal Fact Sheets</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat accusantium sunt quas debitis repudiandae soluta officiis incidunt tenetur itaque suscipit repellendus amet nobis quod, recusandae dolor perferendis, nesciunt molestiae ea.</p>

            <a href="/static/resources/res.pdf" download="">Download Fact Sheet</a>
            

        </div>
    </div>
</section>
<section>

    <div>
        <img style="width: 50%;" src="/static/images/tiger.png" alt="Animal Fact Sheet">
        <div>
            <h2>Lesson Plan</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat accusantium sunt quas debitis repudiandae soluta officiis incidunt tenetur itaque suscipit repellendus amet nobis quod, recusandae dolor perferendis, nesciunt molestiae ea.</p>

            <a href="/static/resources/res.pdf" download="">Download Fact Sheet</a>


        </div>
    </div>
</section>
<section>

    <div>
        <img style="width: 50%;" src="/static/images/tiger.png" alt="Animal Fact Sheet">
        <div>
            <h2>Student Worksheets</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat accusantium sunt quas debitis repudiandae soluta officiis incidunt tenetur itaque suscipit repellendus amet nobis quod, recusandae dolor perferendis, nesciunt molestiae ea.</p>

            <a href="/static/resources/res.pdf" download="">Download Fact Sheet</a>


        </div>
    </div>
</section>
<section>

    <div>
            <h2>Planning to Visit</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat accusantium sunt quas debitis repudiandae soluta officiis incidunt tenetur itaque suscipit repellendus amet nobis quod, recusandae dolor perferendis, nesciunt molestiae ea.</p>

            <a href="/static/resources/res.pdf" download="">Download Fact Sheet</a>


    </div>
</section>
{% endblock %}

